

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/Ptrootuimedium.woff2') format('woff2'),
    url('src/assets/fonts/Ptrootuimedium.woff') format('woff'),
    url('src/assets/fonts/Ptrootuimedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/Ptrootuilight.woff2') format('woff2'),
    url('src/assets/fonts/Ptrootuilight.woff') format('woff'),
    url('src/assets/fonts/Ptrootuilight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/Ptrootui.woff2') format('woff2'),
    url('src/assets/fonts/Ptrootui.woff') format('woff'),
    url('src/assets/fonts/Ptrootui.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('src/assets/fonts/Ptrootuibold.woff2') format('woff2'),
    url('src/assets/fonts/Ptrootuibold.woff') format('woff'),
    url('src/assets/fonts/Ptrootuibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ZyfraIcons';
  src: url('src/assets/fonts/ZyfraIcons.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}

#root {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ant-image-cover,  .ant-image-img { 
  border-radius: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  object-fit: contain;
  // background-color: #72a56124
}