@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Onest';
  src: url('src/assets/fonts/Onest-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Docker';
  src: url('src/assets/fonts/dockerone.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Docker';
  src: url('src/assets/fonts/dockertwo.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
// dockerthree.ttf – Bold (700)
@font-face {
  font-family: 'Docker';
  src: url('src/assets/fonts/dockerthree.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

#root {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ant-image-cover,  .ant-image-img { 
  border-radius: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  object-fit: contain;
}


.ant-checkbox {
  width: 20px;
  height: 20px;
}

.ant-checkbox::after {
  left: 30%;
  top: 45%;
}

.ant-checkbox-wrapper {
  display: inline-flex;
  align-items: center;
}
.ant-checkbox + span {
  padding-left: 10px;
}

.ant-card-body {
  padding: 24, 32;
}



